* {
    margin: 0;
    padding: 0;
    color-scheme: dark;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 25%;
    min-width: 300px;
    padding: 1rem;
    outline: 1px solid #313131;
    overflow-x: hidden;
}

.main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    padding: 1rem;
}

#image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button {padding: 0.5rem;}
button:hover {cursor: pointer;}
select {padding: 0.5rem;}
select:hover {cursor: pointer;}
input:not(#lowThreshold):not(#highThreshold):not(#gifFrames):not(#gifDelay):not(#randomMaskOffset){padding: 0.5rem;}
input[type=number] {width: 40px;}
input:hover {cursor: pointer;}
button, select, #logs, #firstOptions {margin-bottom: 0.5rem;}
#inputImage {outline: 1px solid #313131; border-radius: 0.3rem; margin-bottom: 0.5rem;}
#maskOptions {display: none; border-radius: 0.3rem; border: 1px solid #313131; padding: 0.5rem; margin-bottom: 0.5rem;}

#sort-div > button > img {-webkit-filter: invert(100%); filter: invert(100%); width: 1rem; opacity: 0.9; max-width: 1rem; max-height: 1rem;}
#sort-btn {width: 100%; margin-right: 0.5rem;}

#sort-div {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
}

input[type=checkbox] {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    transform: scale(1.3);
}

#dropdowns-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dropdowns-container > * {width: 49.2%;}

#logs {
    width: 100%;
    height: 4rem;
    outline: 1px solid #313131;
    border-radius: 0.3rem;
}

@media screen and (max-width: 640px) {
    main {
        align-items: center;
        flex-direction: column;
    }
    .main-left {
        width: 100%;
        height: 70vh;
        margin: 0;
    }
    .main-right {
        width: 100%;
        height: 50vh; /* fix here */
        overflow: auto; /* To add scroll if image is larger than container */
        margin: 0;
        padding: 0;
    }
}

#mobile-alert {display: none; text-align: center; margin-top: 1rem; color: red}

@media (pointer:none), (pointer:coarse) {
    #mobile-alert {display: block;}
}